.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.Logo {
  align-items: center;

  display: flex;
  gap: 10px;
  margin-left: 30px;
  color: white;
  font-weight: 700;
}

.Logo-HK {
  border: 1px solid rgb(26, 184, 149);
  border-radius: 8px;
  padding: 3px;
  background-color: rgb(26, 184, 149);
}
.mid-sec {
  align-items: center;
  display: flex;
  gap: 50px;
}

.right-sec {
  align-items: center;
  display: flex;
  gap: 50px;
  margin-right: 40px;
}

/* This targets the actual Links */
.navbar a {
  text-decoration: none;
  color: white;
}
.BookAppointment {
  border: 1px solid rgb(26, 184, 149);
  border-radius: 8px;
  padding: 5px;
  background-color: rgb(26, 184, 149);
}

.intro {
  margin-top: 90px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(75, 75, 75);
  padding-bottom: 10px;
}
.intro-left {
  padding-left: 50px;
  width: 50%;
}

.intro-right {
  width: 50%;
  padding-left: 300px;
}
.welcome-new-patients {
  margin-left: 40px;
  display: inline-block;
  color: rgb(81, 226, 195);
  border: 1px solid rgb(2, 75, 25);
  border-radius: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(1, 26, 0);
}
.title {
  margin-left: 30px;
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.title2 {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(26, 184, 149);
}

.intro-para {
  margin-top: 40px;
  font-size: 20px;
  margin-left: 30px;
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.intro-buttonandlearnmore {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}
.intro-button {
  font-size: 20px;
  margin-left: 35px;
  margin-top: 20px;
  display: inline-block;
  color: rgb(81, 226, 195);
  border: 1px solid rgb(2, 75, 25);
  border-radius: 12px;
  padding: 18px;
  background-color: rgb(1, 26, 0);
}
.intro-learnmore {
  margin-top: 20px;
  font-size: 20px;
}

.intro-counter {
  font-weight: 600;
  font-size: 45px;
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 90px;
  margin-left: 100px;
  color: rgb(81, 226, 195);
}

.intro-counter-text {
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 90px;
  margin-top: 10px;
  margin-left: 80px;
  color: rgb(175, 188, 185);
}
